<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Drink My Beer!</a>
</nav>
{{outlet}}
<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Drink My Beer! 2019</p>
  </div>
  <!-- /.container -->
</footer>
