<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-3">

      <h1 class="my-4">User Name</h1>
      <div class="list-group">
        <a class="list-group-item">{{#link-to 'mi-album'}} Mi Álbum {{/link-to}}</a>
      </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">
      <br>
      <div class="list-group">
        <div class="panel-heading">
          <h3 class="panel-title"> Drink My Beer! </h3>
        </div>
        <div class="panel-body">
          <a class="list-group-item">{{#link-to 'agregar-cerveza'}} Agregar Cerveza {{/link-to}}</a>
          <a class="list-group-item" href="#"> Ver Bares </a>
          <a class="list-group-item" href="#"> Mis Bebidas </a>
        </div>
      </div><br>

      <div class="row">

        {{#each model as |beer| }}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a >{{#link-to 'detalle-cerveza'}} {{beer.name}} {{/link-to}}</a>
                </h4>
                <h5>${{beer.price}}</h5>
                <p class="card-text">{{beer.location}}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
        {{/each}}

      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

{{outlet}}